body { background-color: #737CA1; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#games-list tr{
  background-color: #AFC7C7;
}

p#centered{
	margin-left: auto
	margin-right: auto
}

p#session {
	text-align: right
}

h1 {
 color: #C6AEC7;
 text-align: center;
 font-size: 3em;
 }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #AFC7C7; }
a:visited { color: #AFC7C7; }
a:hover { color: #AFC7C7; background-color: #717D7D; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
  margin:auto; 
  padding: 0 1em 1em 1em;
  width: 960px;
}  

#game-list .list-line-even {
  background: #AFC7C7;
}

#game-list .list-line-odd {
  background: #717D7D;
  }

table#games_list {
	magin-left: auto;
	margin-right: auto;
	
   margin-top: 2em;
   border-collapse: collapse;
   width: 900px;
 }
table#articles_list th {
  background-color: #717D7D;
  margin: 10px 0px;
  padding: 10px;
}
					
