<% content_for :subtitle do %>
...not just for the country of Spain
<% end %>

<ul class="menu">
  <li>
    <%= link_to image_tag('icon_small_larrow.png'), articles_path, :title => 'back to list' %>
    <%= link_to 'list all articles', articles_path, :title => 'back to list' %>
  </li>
</ul>

<h3>Creating a New article</h3>

<% form_for(@article) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create!' %>
  </p>
<% end %>